body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    justify-content: space-around;
}
.head{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.klenty-logo{
    width: 128px;
    height: 55px;
    margin-top: 25px;
    margin-left: 40px;
}
nav{
    align-items: center;
    padding-top: 41px;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: #05034E;
    font-size: 18px;
    margin-left: 10px;
}
.try-btn{
    color: white;
    background: #5856CE;
    width: 121px;
    height: 39px;
    font-size: 12px;
    font-style: normal;
    align-items: center;
    padding: 12px 16px;
}
.section-1{
    text-align: center;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dont-crm{
    font-size: 48.83px;
    font-family: 'Paytone One', sans-serif;
    font-weight: 500;
    color: #05034E;
    font-style: normal;
}
.section1-p{
    font-size: 20px;
    width: 873px;
}
.get-btn{
    width: auto;
    text-decoration: none;
    padding: 12px 32px;
    background: #5856CE;
    color: white;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-2{
    width: 100%;
    background: rgba(242, 242, 253, 0.5);
    backdrop-filter: blur(10px);
}
.crm-acc{
    padding-top: 40px;
    font-size: 39px;
    font-family: 'Paytone One', sans-serif;
    color: #05034E;
    text-align: center;
}
.section2-p{
    font-size: 20px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 150px;
}
.left-crm{
    width: 450px;
    margin-bottom: 50px;
}
#icon1{
 float: left;
 margin-top: 10px;
}
.left-crm h2{
    color: #05034E;
    font-size: 20px;
    float: right;
    width: 400px;
}
.left-crm p{
    float: right;
    width: 400px;
}
.right-crm{
    width: 450px;
    margin-bottom: 50px;
}
#icon2{
 float: left;
 margin-top: 10px;
}
.right-crm h2{
    color: #05034E;
    font-size: 20px;
    float: right;
    width: 400px;
}
.right-crm p{
    float: right;
    width: 400px;
}
.dont-crm2{
    font-size: 42.83px;
    font-family: 'Paytone One', sans-serif;
    font-weight: 500;
    color: #05034E;
    font-style: normal;
    text-align: center;
    margin-top: 80px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.left-cnt{
    margin-top: 150px;
}
.left-cnt a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 10px 20px;
  background: #99D0FF;
  border-radius: 28px;
}
.left-cnt h2{
    font-size: 39px;
    font-family: 'Paytone One', sans-serif; 
    font-weight: 400;
    font-style: normal;
    color: #05034E;
}
.left-cnt h4{
    font-size: 29px;
    font-family: 'Paytone One', sans-serif; 
    font-weight: normal;
    font-style: normal;
    color: #05034E;
}
.left-cnt p{
    width: 463px;
    font-size: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.right-kick{
    margin-top: 150px;
}
.right-kick a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    background:  #99FFCE;
    padding: 10px 20px;
    border-radius: 28px;
}
.right-kick h2{
    font-size: 39px;
    font-weight: 400px;
    font-family: 'Paytone One', sans-serif;
    font-style: normal;
    color: #05034E;
}
.right-kick h4{
    font-size: 25px;
    font-family: 'Paytone One', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #05034E;
}
.right-kick p{
    width: 463px;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    color: #202020;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.left-from{
    margin-top: 70px;
    margin-left: 50px;
}
.left-from a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #333333;
  background: #D299FF;
  padding: 10px 20px;
  border-radius: 28px;
}
.left-from h2{
    font-size: 39px;
    font-weight: 400px;
    font-family: 'Paytone One', sans-serif;
    font-style: normal;
    color: #05034E;
    margin-top: 50px;
}
.left-from h4{
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Paytone One', sans-serif;
    font-style: normal;
    color: #05034E;
    margin-top: 20px;
}
.left-from p{
    width: 463px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #202020;
    margin-top: 50px;
}
#linkedin3{
    width: 850px;
}
.section4{
    background: #F2F2FD;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
}
.section4 h3{
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    text-align: center;
    padding-top: 50px;
}
.slide1{   
width: auto;
height: auto;
background: #FFFFFF;
box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.08);
border-radius: 10px;
margin-top: 40px;
margin-left: 15%;
margin-right: 15%;
text-align: center;
}
.img-container{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
#qoute-start, #qoute-end{
    width: 60px;
    height: 30px;
}
#company1{
    width: 160px;
    height: 18px;
}
.slide1-p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #202020;
    width: auto;
    height: auto;
}
.para{
    margin-top: 70px;
}
.profile-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.right-pro{
    margin-left: 10px;
}
.pro-name1{
    font-size: 18px;
    color: #05034E;
}
#terersa{
    width: 60px;
    height: 60px;
}

#slide2{
    display: none;
}
#slide3{
    display: none;
}
.arrows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    top: -200px;
    margin-left: 20px;
    margin-right: 20px;
}
.left-slide #arrow-left{
   font-size: 30px;
   
}
.right-slide #arrow-right{
    font-size: 30px;
}
.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}
.section5 h3{
    font-family:'Paytone One', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: #05034E;
}
.section5 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.section5 a{
    text-decoration: none;
    color: white;
    background: #5856CE;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    padding: 12px 32px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 50px;
}
@media  screen and (max-width: 1364px) {
   .container1{
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
    .container2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 850px) {
    .section1-p{
        width: auto;
    }
   .container{
       flex-direction: column;
       justify-content: center;
       align-items: center;
   } 
   #linkedin1{
    width: 573px;
   }
   #linkedin2{
    width: 573px;
   }
#linkedin3{
    width: 730px;
   }
}
@media screen and (max-width: 730px) {
    #linkedin3{
        width: 573px;
    }
}
@media screen and (max-width: 582px) {
    .klenty-logo{
        width: 100px;
        height: 48px;
    }
    .section-1{
        margin-top: 60px;
    }
    .dont-crm{
        font-size: 44px;
    }
    .left-cnt{
        margin-top: 50px;
    }
    .container1{
        text-align: center;
    }
    .left-cnt a{
        font-size: 14px;
    }
    .left-cnt h2{
       margin-top: 20px;
    }
    .left-cnt h4{
        margin-top: 20px;
     }
     .left-cnt p{
        margin-top: 20px;
     }
     .container2{
         text-align: center;
     }
     .container3{
         text-align: center;
     }
     .left-from{
         margin-left: 0;
     }
    #linkedin1{
        width: 350px;
       }
       #linkedin2{
        width: 350px;
       }
    #linkedin3{
        width: 350px;
       }
       .left-crm{
           width: auto;
       }
       .right-crm{
           width: auto;
       }
       .left-crm h2{
           width: 280px;
       }
       .left-crm p{
           width: 280px;
       }
       .right-crm h2{
           width: 280px;
       }
       .right-crm p{
           width: 280px;
       }
       .left-cnt p{
           width: auto;
       }
       .right-kick{
           margin-top: 75px;
       }
       .right-kick h2{
           margin-top: 20px;
       }
       .right-kick h4{
           margin-top: 20px;
       }
       .right-kick p{
           width: auto;
           margin-top: 20px;
       }
       .left-from p{
           width: auto;
       }
       .section5{
           margin-top: 25px;
       }
       .section5 p{
           margin-top: 20px;
       }
       .arrows{
           top: -250px;
       }
}